@import "tailwindcss";

@font-face {
  font-family: "Impact";
  src: url("./assets/fonts/Impact.woff");
}

@font-face {
  font-family: "Imprint";
  src: url("./assets/fonts/imprint-mt-shadow.ttf");
}
html {
  scroll-behavior: smooth;
}

@theme inline{
  --color-primary: #0F355C;
  --color-primary-dark: #0061728;
  --color-primary-ligth: #2063A7;
  --color-secundary: #CB9B17;
  --color-secundary-dark: #B7842F;
  --color-secundary-ligth: #E1B366;
  --color-gray-dark:#191919;
  --color-gray-ligth:#C5C5C5;
  --font-impact: "Impact";
  --font-imprint: "Imprint";
}

:root {
  --impact: "Impact";
  --imprint: "Imprint";
  --primary: #0F355C;
  --primary-dark: #0061728;
  --primary-ligth: #2063A7;
  --secundary: #CB9B17;
  --secundary-dark: #B7842F;
  --secundary-ligth: #E1B366;
  --gray-dark:#191919;
  --gray-ligth:#C5C5C5;
  /* ... */
}

/* Barra inteira */
.scroll-container::-webkit-scrollbar, html::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

/* Scroll  */
.scroll-container::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
  background: var(--secundary);
}

/* Hover do scroll */
.scroll-container::-webkit-scrollbar-thumb:hover, html::-webkit-scrollbar-thumb:hover {
  background: var(--secundary-dark);
}

/* Barra inteira */
html::-webkit-scrollbar {
  width: 8px;
    background: var(--gray-dark);
}

/* Scroll  */
html::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);
}

/* Hover do scroll */
html::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 142, 142);
}
